::root {
  --font: "Raleway", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: calc(14px + (18-14) * ((100vw-300px) / (1400-300)));
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* * color de la barra de navegacion */
.titulares {
  background: linear-gradient(
    90deg,
    rgba(219, 204, 226, 1) 0%,
    rgba(233, 159, 223, 1) 35%,
    rgba(0, 183, 221, 1) 100%
  );
  color: #eee;
  padding: 0.5rem;
  min-height: 5vh;
}

/* % inicio de navegación */

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #eee;
  font-size: 27px;
  font-style: italic;
  z-index: 9999;
}

.menu-nav {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 1.5rem;
  justify-content: space-evenly;
}

/* * vinculos del menu principal */
.menu-nav li a {
  color: #fff;
}

.menu-nav li a.item-niña:hover {
  text-shadow: 0 0 13px pink;
  cursor: pointer;
  color: pink;
  font-size: 4vh;
}

.menu-nav li a.item-niña:visited {
  font-size: 4vh;
}

.menu-nav li a.item-niño:hover {
  text-shadow: 0 0 13px pink;
  cursor: pointer;
  color: cyan;
  font-size: 4vh;
}

.logo-nav {
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: thick solid pink;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Shalimar", cursive;
  font-size: 20px;
}

/* % fin de navegación */

/* contenedor  */

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.hero-image {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-image: url(../images/BGR_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2vh 1vh 5vh #2229;
}

.hero-image div {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  background-color: #2222;
}

/* ! cambiar la letra mañana */
.hero-image div h1 {
  color: #eee;
  font-size: 50px;
  text-shadow: 1px 0px 3px #eee;
  font-family: var(--font);
  text-shadow: 0 0 300px #fff;
}

.hero-image div h1:hover {
  text-shadow: 0 0 600px blueviolet;
  cursor: pointer;
}

.hero-image div h1:visited {
  text-shadow: 0 0 600px blueviolet;
  cursor: pointer;
}

.hero-image div h1.title-gender:hover {
  text-shadow: 0 0 600px blueviolet;
  cursor: pointer;
  color: pink;
}

.hero-image div h1.title-revelation:hover {
  text-shadow: 0 0 600px blueviolet;
  cursor: pointer;
  color: cyan;
}

/* contenedor carta con dos columnas, simbologia y descripción */

.contenido {
  width: 100%;
  min-height: 100vh;
  height: auto;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-content {
  min-width: 100%;
  min-height: 100vh;
  background: rgb(208, 168, 227);
  background: linear-gradient(
    257deg,
    rgba(208, 168, 227, 1) 0%,
    rgba(255, 203, 248, 1) 46%,
    rgba(190, 83, 182, 0.8604035364145658) 100%
  );

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: fixed;
  box-shadow: 0 0 30px #2224;
  position: relative;
  margin-bottom: 0vh;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content img {
  width: 30%;
  height: auto;
  margin: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 10px solid white;
}

.contenido .p-inicial {
  text-indent: 2rem;
  top: 0;
  margin-top: 10vh;
}

.contenido .especial {
  width: 50%;
  font-family: var(--font);
  font-size: 30px;
}

.contenido p {
  width: 65%;
  font-size: 20px;
  line-height: 2rem;
  text-shadow: 0 0 3px #2225;
  margin-bottom: 4vh;
  text-align: justify;
  font-family: var(--font);
}

.contenido p span {
  font-size: 100px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}

/*  % footer titulares nombres pam y ray */

@media (max-width: 300px) {
  .hero-image {
    width: 100%;
    font-size: 15px;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .hero-image {
    width: 100%;
    margin: auto;
    min-height: 40vh;
    background-image: url(../images/BGR_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 1vh #eee;
  }

  .hero-image div h1 {
    font-size: 25px;
  }

  .card-content img {
    width: 70%;
    height: auto;
    margin: auto;
  }


}

/* background: rgb(197,152,218);
background: linear-gradient(257deg, rgba(197,152,218,1) 0%, rgba(246,133,231,1) 35%, rgba(0,183,221,1) 100%); */
